<mat-sidenav-content>
    <div class="content mat-elevation-z8">
        <h1 class="title">Event Binding Kullanımı</h1>
        <p>HTML elementlerine yada oluşturduğumuz component laAra data binding yapabiliriz.</p>
        <p>Örnek için <b>components/event-binding</b> dizinini inceleyebilirsiniz.</p>
        <h4 class="todo-title">TODO İle Proje İçerisinde Arama</h4>
        <p class="todo-name">
            <mat-icon>chevron_right</mat-icon>TODO: Event Binding Kullanımı
        </p>
        <h4 class="example">Uygulamalar</h4>
    </div>
</mat-sidenav-content>