<mat-sidenav-content>
    <div class="content mat-elevation-z8">
        <h1 class="title">Angular Material Kullanımı</h1>
        <p>Projenizde material kullanarak duyarlı, hoş ve güzel tasarımlar yapabilirsiniz. Angular Material kullanmak
            için
            paketi indirmeniz sonrasında dosyaları tanımlamanız gerekiyor.</p>
        <p>Örnek için <b>components/material</b> dizinini inceleyebilirsiniz.</p>
        <p>Paketin güncel versiyonunu indirmek için: </p>
        <div class="terminal">
            <pre><code> {{" ng add @angular/material "}} </code></pre>
        </div>
        <p>angular.json dosyasında styles kısmınıda tanımlama yapmanız gerekiyor.</p>
        <div class="terminal">
            <pre><code> {{"./node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css"}} </code></pre>
        </div>
        <p>Angular Material versiyonu için package.json dosyasında dependencies altında @angular/material
            kısmına göz
            atababilirsiniz.</p>
        <div class="terminal">
            <pre><code> {{"dependencies/@angular/material"}} </code></pre>
        </div>
        <h4 class="todo-title">TODO İle Proje İçerisinde Arama</h4>
        <p class="todo-name">
            <mat-icon>chevron_right</mat-icon>TODO: Angular Material Kullanımı
        </p>
    </div>
</mat-sidenav-content>