<mat-sidenav-content>
    <div class="content mat-elevation-z8">
        <h1 class="title">Service Kullanımı</h1>
        <p>Servisler ile component arasında iletişim kurarak veri alış veriş gibi işlemlerimizi yapabiliriz.</p>
        <p>Örnek için <b>components/service</b> dizinini inceleyebilirsiniz.</p>
        <div class="terminal">
            <pre><code>ng generate service service-name</code></pre>
        </div>
        <h4>Kısa Kullanımı</h4>
        <div class="terminal">
            <pre><code>ng g s service-name</code></pre>
        </div>
        <h4 class="todo-title">TODO İle Proje İçerisinde Arama</h4>
        <p class="todo-name">
            <mat-icon>chevron_right</mat-icon>TODO: Service Kullanımı
        </p>
    </div>
</mat-sidenav-content>