<mat-sidenav-content>
    <div class="content mat-elevation-z8">
        <h1 class="title">QRCode Kullanımı</h1>
        <p>QRCode oluşturma ve QRCode okumak için angular2-qrcode, angular2-qrscanner ve angularx-qrcode paketlerine
            ihtiyacımız olacak. Bu paketler ile qrcode oluşturma ve okuma işlemleri yapabiliriz.
        </p>
        <p>Örnek için <b>components/qr-code</b> dizinini inceleyebilirsiniz.</p>
        <h4 class="todo-title">TODO İle Proje İçerisinde Arama</h4>
        <p class="todo-name">
            <mat-icon>chevron_right</mat-icon>TODO: QRCode Kullanımı
        </p>
        <h4 class="example">Uygulamalar</h4>
        <h4>QRCode Oluştur</h4>
        <div>
            <qr-code [value]="values" [size]="width" [level]="level"></qr-code>
        </div>
        <label>
            QRCode Bilgisi: <input [(ngModel)]="values" placeholder="name" />
        </label>
        <br />
        <strong>Boyut: </strong>
        <button (click)="qrWidth(450)">450</button>
        <button (click)="qrWidth(350)">350</button>
        <button (click)="qrWidth(250)">250</button>
        <strong> QR Seviyesi: </strong>
        <button (click)="qrLevel('L')">L</button>
        <button (click)="qrLevel('M')">M</button>
        <button (click)="qrLevel('Q')">Q</button>
        <button (click)="qrLevel('H')">H</button>
        <br>
        <h4 class="text-center">QRCode Okut</h4>
        <div style="width: 200px; height: 200px; margin:0 auto">
            <qr-scanner [debug]="false" [canvasWidth]="300" [canvasHeight]="300" [stopAfterScan]="false"
                [updateTime]="500">
            </qr-scanner>
            <p *ngIf="qrResult!=null">QR Code Sonucu:
                {{qrResult}}
            </p>
        </div>
    </div>
</mat-sidenav-content>