<mat-sidenav-content>
    <div class="content mat-elevation-z8">
        <h1 class="title">Model Odaklı SetValue Fonksiyon Kullanımı</h1>
        <p>Modelimize veri atamak için kullanılır. Forma farklı bir değer atamak istiyorsak setValue fonksyonunu
            kullanırız.</p>
        <p>Örnek için <b>components/model-oriented-setvalue-function</b> dizinini inceleyebilirsiniz.</p>
        <div class="terminal">
            <pre><code>this.userForm.controls["name"].setValue("Yasin Sunmaz");</code></pre>
        </div>
        <h4 class="todo-title">TODO İle Proje İçerisinde Arama</h4>
        <p class="todo-name">
            <mat-icon>chevron_right</mat-icon>TODO: Model Odaklı SetValue Fonksiyon Kullanımı
        </p>
        <h4 class="example">Uygulamalar</h4>
        <div class="col-md-4">
            <form [formGroup]="userForm">
                <div class="md-form">
                    <input type="text" id="name" formControlName="name" class="form-control mb-2" mdbInput>
                    <label for="name">Adı</label>
                </div>
            </form>
        </div>
    </div>
</mat-sidenav-content>