<mat-sidenav-content>
    <div class="content mat-elevation-z8">
        <h1 class="title">Template Kullanımı</h1>
        <p>Template kullanımı url üzerinden ya da component içinde kullanılabilir.</p>
        <p>Örnek için <b>components/templates</b> dizinini inceleyebilirsiniz.</p>
        <h4 class="todo-title">TODO İle Proje İçerisinde Arama</h4>
        <p class="todo-name">
            <mat-icon>chevron_right</mat-icon>TODO: Template Kullanımı
        </p>
    </div>
</mat-sidenav-content>
