<mat-sidenav-content>
    <div class="content mat-elevation-z8">
        <h1 class="title">Event Binding Kullanımı</h1>
        <p>Örnek için <b>components/template-reference-variable</b> dizinini inceleyebilirsiniz.</p>
        <h4 class="todo-title">TODO İle Proje İçerisinde Arama</h4>
        <p class="todo-name">
            <mat-icon>chevron_right</mat-icon>TODO: Template Reference Variable Kullanımı
        </p>
        <h4 class="example">Uygulamalar</h4>
        <p><b>Template Reference Kullanımı</b></p>
        <input type="text" #nameInput />
        <button (click)="handleGetValue(nameInput.value)" mdbBtn>Tamam</button>
        <p>
            {{ name }}
        </p>
    </div>
</mat-sidenav-content>