<mat-sidenav-content>
    <div class="content mat-elevation-z8">
        <h1 class="title">Property Binding Kullanımı</h1>
        <p>Interface içerisinde istediğimiz özellikleri tanımlayabiliriz.</p>
        <p>ınteface simlendirmeleri I ile başlamalıdır. Örneğin user için bir interface oluşturacaksak IUser şeklinde
            bir tanımlama uygun
            olacaktır.</p>
        <p>Örnek interface için <b>interfaces/iuser.ts</b> dosyasını inceleyebilirsiniz.</p>
        <h4 class="todo-title">TODO İle Proje İçerisinde Arama</h4>
        <p class="todo-name">
            <mat-icon>chevron_right</mat-icon>TODO: Property Binding kullanımı
        </p>
    </div>
</mat-sidenav-content>