<p>extra-behevaior works!</p>
{{counter}


<!-- <form #loginForm="ngForm"(ngSubmit)="onSubmit(loginForm)">
    <!--<input type="text"placeholder="email"name="email"[ngModel]="loginInput.
    email"(ngModelChange)="email=$event"#email="ngModel">-->
    <!-- <input type="text"placeholder="email"name="email"[(ngModel)]="loginInput.
    email"#emailFormController="ngModel"required> -->
    <!-- <div*ngIf="!emailFormController.valid && emailFormController.touched &&
    emailFormController.hasError('required')">
         Email Boş geçilemez
    </div>
    <input type="password"placeholder="password"name="password"[(ngModel)]
    ="loginInput.password"#password FormController="ngModel"required minlength="8">
    <div*ngIf="password Form Controller.hasError('minlength')">
        Minimum8karakter giriniz
    </div> --> -->