footer{
    display: block;
    position: relative;
    min-height: 80px;
}
footer .copyright{
    height: 30px;
    background-color: #37404b;
    padding: 5px;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
}
footer .links{
    padding: 7px;
}
a{
    display: inline-flex;
}
