<footer>
  <div class="links">
  <button mat-button routerLink="/" class="menu-button">
    <span>Anasayfa</span>
  </button>
  <button mat-button routerLink="about-lawy" class="menu-button">
    <span>LAWY Hakkında</span>
  </button>
  <button mat-button (click)="githubLAWY()" class="menu-button">
    <span>LAWY GitHub</span>
  </button>
  <button mat-button (click)="myWebsite()" class="menu-button">
    <span>Yasin SUNMAZ</span>
  </button>
  <button mat-button routerLink="contact" class="menu-button">
    <span>İletişim</span>
  </button>
  </div>
  <div class="copyright">Yasin SUNMAZ 2022 Tüm Hakları Saklıdır.</div>
</footer>