<mat-sidenav-content>
    <div class="content mat-elevation-z8">
        <h1 class="title">Router Event Takibi</h1>
        <p>Component üzerinde hangi işlemin olduğu ya da başka componente geçiş durumlarının takibi için kullanabiliriz.
            Componentler arasında detaylı olarakta takip yapabiliriz.
        </p>
        <p>Örnek için <b>components/router-event</b> dizinini inceleyebilirsiniz.</p>
        <p class="bold">Angular Router Event Listesi</p>
        <ul>
            <li>NavigationStart</li>
            <li>RouteConfigLoadStart</li>
            <li>RouteConfigLoadEnd</li>
            <li>RoutesRecognized</li>
            <li>GuardsCheckStart</li>
            <li>ChildActivationStart</li>
            <li>ActivationStart</li>
            <li>GuardsCheckEnd</li>
            <li>ResolveStart</li>
            <li>ResolveEnd</li>
            <li>ActivationEnd</li>
            <li>ChildActivationEnd</li>
            <li>NavigationEnd</li>
            <li>Scroll</li>
            <li>NavigationCancel</li>
            <li>NavigationError</li>
        </ul>
        <h4 class="todo-title">TODO İle Proje İçerisinde Arama</h4>
        <p class="todo-name">
            <mat-icon>chevron_right</mat-icon>TODO: Router Event Takibi
        </p>
        <p class="todo-name">
            <mat-icon>chevron_right</mat-icon>TODO: Detaylı Component Router Event Takibi
        </p>
    </div>
</mat-sidenav-content>