<mat-sidenav-content>
    <div class="content mat-elevation-z8">
        <h1 class="title">Component Çağırma</h1>
        <p>Component çağırmanın farklı yolları bulunur.</p>
        <p>Örnek için <b>components/call-component</b> dizinini inceleyebilirsiniz.</p>
        <h4 class="todo-title">TODO İle Proje İçerisinde Arama</h4>
        <p class="todo-name">
            <mat-icon>chevron_right</mat-icon>TODO: Component Çağırma
        </p>
        <h4 class="example">Uygulamalar</h4>
        <p>selector: 'app-call-component', Kullanımı: call-component.component.ts dosyasından bakabilirsiniz</p>
        <p>selector: '#app-call-component', Kullanımı: call-component.component.ts dosyasından bakabilirsiniz</p>
        <p>selector: '.app-call-component', Kullanımı: call-component.component.ts dosyasından bakabilirsiniz</p>
    </div>
</mat-sidenav-content>