<mat-sidenav-content>
    <div class="content mat-elevation-z8">
        <h1 class="title">Directive Kullanımı</h1>
        <p>Angular’da directive’ler DOM nesnelerini manipule etmek için kullanılır. Angular Directive’lerini kullanarak
            bir DOM nesnesinin görünümü, davranışını veya layout’unu değiştirebilmemiz mümkün. Ayrıca HTML’i
            genişletmemize de yardımcı olur.
            Directive ‘ler Angular projesi içinde @Directive decoratore yardımıyla oluşturulan javascript class’larıdır.
            Directive ‘ler nasıl davradıklarına göre 3 başlıkta sınıflandırılır:
        </p>
        <ul>
            <li routerLink="custom-directive">Custom Directives</li>
            <li routerLink="structural-directive">Structural Directives</li>
            <li routerLink="attribute-directive">Attribute Directives</li>
        </ul>
    </div>
</mat-sidenav-content>