<mat-sidenav-content>
    <div class="content mat-elevation-z8">
        <h1 class="title">Directive Kullanımı</h1>
        <p>Angular’da directive’ler DOM nesnelerini manipule etmek için kullanılır. Angular Directive’lerini kullanarak
            bir DOM nesnesinin görünümü, davranışını veya layout’unu değiştirebilmemiz mümkün. Ayrıca HTML’i
            genişletmemize de yardımcı olur.
            Directive ‘ler Angular projesi içinde @Directive decoratore yardımıyla oluşturulan javascript class’larıdır.
            Directive ‘ler nasıl davradıklarına göre 3 başlıkta sınıflandırılır:
        </p>
        <ul>
            <li routerLink="/structural-directive"><mat-icon>arrow_right_alt</mat-icon> Structural Directives</li>
            <li routerLink="/attribute-directive"><mat-icon>arrow_right_alt</mat-icon>  Attribute Directives</li>
            <li routerLink="/custom-directive"><mat-icon>arrow_right_alt</mat-icon>  Custom Directives</li>
        </ul>
    </div>
</mat-sidenav-content>