<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    Learn Angular With Yasin
    <button mat-button [matMenuTriggerFor]="animals">MENÜ</button>
    <mat-menu #animals="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="vertebrates">Vertebrates</button>
        <button mat-menu-item [matMenuTriggerFor]="invertebrates">Invertebrates</button>
    </mat-menu>

    <mat-menu #vertebrates="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="fish">Fishes</button>
        <button mat-menu-item>Birds</button>
        <button mat-menu-item>Mammals</button>
    </mat-menu>

    <mat-menu #invertebrates="matMenu">
        <button mat-menu-item>Insects</button>
        <button mat-menu-item>Molluscs</button>
        <button mat-menu-item>Crustaceans</button>
        <button mat-menu-item>Corals</button>
        <button mat-menu-item>Arachnids</button>
        <button mat-menu-item>Velvet worms</button>
        <button mat-menu-item>Horseshoe crabs</button>
    </mat-menu>

    <mat-menu #fish="matMenu">
        <button mat-menu-item>Baikal oilfish</button>
        <button mat-menu-item>Bala shark</button>
        <button mat-menu-item>Ballan wrasse</button>
        <button mat-menu-item>Bamboo shark</button>
        <button mat-menu-item>Banded killifish</button>
    </mat-menu>
</mat-toolbar>

<section>
    <mat-sidenav-container>
        <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
            <h4 class="name">Yasin SUNMAZ</h4>
            <mat-divider></mat-divider>
            <button mat-button routerLink="/" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active"
                class="menu-button">
                <mat-icon>home</mat-icon>
                <span>Anasayfa</span>
            </button>
            <button mat-button routerLink="component" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active"
                class="menu-button">
                <mat-icon>bookmark</mat-icon>
                <span>Component Kullanımı</span>
            </button>
            <button mat-button routerLink="service" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active"
                class="menu-button">
                <mat-icon>bookmark</mat-icon>
                <span>Service Kullanımı</span>
            </button>
            <button mat-button routerLink="interface" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active"
                class="menu-button">
                <mat-icon>bookmark</mat-icon>
                <span>Interface Kullanımı</span>
            </button>
            <button mat-button routerLink="model-oriented-setvalue-function" [routerLinkActiveOptions]="{exact:true}"
                routerLinkActive="active" class="menu-button">
                <mat-icon>bookmark</mat-icon>
                <span>SetValue Kullanımı</span>
            </button>
            <button mat-button routerLink="enums" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active"
                class="menu-button">
                <mat-icon>bookmark</mat-icon>
                <span>Enum Kullanımı</span>
            </button>
            <button mat-button routerLink="404-not-found" [routerLinkActiveOptions]="{exact:true}"
                routerLinkActive="active" class="menu-button">
                <mat-icon>bookmark</mat-icon>
                <span>404 Sayfaları</span>
            </button>
            <button mat-button routerLink="firebase" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active"
                class="menu-button">
                <mat-icon>bookmark</mat-icon>
                <span>Firebase Kullanımı</span>
            </button>
            <button mat-button [matMenuTriggerFor]="databinding" class="menu-button">
                <mat-icon>bookmark</mat-icon>
                <span>Databinding Kullanımı</span>
            </button>
            <mat-menu #databinding="matMenu">
                <button mat-menu-item [matMenuTriggerFor]="onedatabinding" routerLink="one-data-binding">One-Way Data
                    Binding</button>
                <button mat-menu-item routerLink="two-data-binding">Two-Way Data Binding</button>
                <button mat-menu-item routerLink="template-reference-variable">Template Reference Tanımlama</button>
            </mat-menu>
            <mat-menu #onedatabinding="matMenu">
                <button mat-menu-item routerLink="string-interpolation">String Interpolation</button>
                <button mat-menu-item routerLink="property-binding">Property Binding</button>
                <button mat-menu-item routerLink="event-binding">Event Binding</button>
            </mat-menu>
            <button mat-button routerLink="constructor" [routerLinkActiveOptions]="{exact:true}"
                routerLinkActive="active" class="menu-button">
                <mat-icon>bookmark</mat-icon>
                <span>Constructor Kullanımı</span>
            </button>
            <button mat-button [matMenuTriggerFor]="directive" routerLink="directives" class="menu-button">
                <mat-icon>bookmark</mat-icon>
                <span>Directive Kullanımı</span>
            </button>
            <mat-menu #directive="matMenu">
                <button mat-menu-item routerLink="custom-directive">Custom Directive</button>
                <button mat-menu-item routerLink="structural-directive">Structural Directive</button>
                <button mat-menu-item routerLink="attribute-directive">Attirubute Directive</button>
            </mat-menu>
            <button mat-button routerLink="filter" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active"
                class="menu-button">
                <mat-icon>bookmark</mat-icon>
                <span>Filter Kullanımı</span>
            </button>
            <button mat-button [matMenuTriggerFor]="pipes" routerLink="pipes" class="menu-button">
                <mat-icon>bookmark</mat-icon>
                <span>Pipe Kullanımı</span>
            </button>
            <mat-menu #pipes="matMenu">
                <button mat-menu-item routerLink="basic-filter-pipe">Basic Filter Pipe</button>
                <button mat-menu-item routerLink="custom-pipe">Custom Pipe</button>
            </mat-menu>
            <button mat-button routerLink="animations" class="menu-button">
                <mat-icon>bookmark</mat-icon>
                <span>Animasyon Kullanımı</span>
            </button>
            <button mat-button routerLink="lazyload-image" class="menu-button">
                <mat-icon>bookmark</mat-icon>
                <span>Lazyload Image Kullanımı</span>
            </button>
            <button mat-button routerLink="notifications" class="menu-button">
                <mat-icon>bookmark</mat-icon>
                <span>Notification Kullanımı</span>
            </button>
            <button mat-button routerLink="reactive-forms" class="menu-button">
                <mat-icon>bookmark</mat-icon>
                <span>ReactiveForms Kullanımı</span>
            </button>
            <button mat-button routerLink="validator" class="menu-button">
                <mat-icon>bookmark</mat-icon>
                <span>Validator Kullanımı</span>
            </button>
            <button mat-button routerLink="local-storage" class="menu-button">
                <mat-icon>bookmark</mat-icon>
                <span>Local Storage Kullanımı</span>
            </button>
            <button mat-button routerLink="qr-code" class="menu-button">
                <mat-icon>bookmark</mat-icon>
                <span>QRCode Kullanımı</span>
            </button>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="content mat-elevation-z8">
                <div class="content" role="main">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</section>