mat-toolbar {
  background: #004a9f;
  color: white;
}

mat-sidenav {
  display: block;
  height: auto;
  border-right: none;
  background: #002b5c;
  color: white;
  text-align: center;
}

.content {
  min-height: 550px;
  padding: 10px;
  display: block;
  font-size: 18px;
  color: rgb(0, 0, 0);
}

mat-sidenav-container {
  height: 100%;
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 20px;
  color: white;
}

mat-divider {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.5);
}

mat-sidenav-content {
  margin: 0 !important;
}
